@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aggressive reset for margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
}


/* Global styles for core elements */

html,
body {
    width: 100%;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /* Ensure horizontal overflow is hidden */
}